<div class="span2">

<a class="btn" data-toggle="modal" href="#new-mix-modal">Upload Mix</a>
<%= render "mix_modal" %>

</div>
<div class="span8">

<table id="mixes-table" class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Artist</th>
      <th id="comments-heading">Comments</th>
      <th id="users-heading">Users</th>
      <th id="admin-heading">Admin</th>
      <th id="edit-mix-heading">Edit</th>
    </tr>
  </thead>
  <tbody>
    <% @mixes.each do |mix| %>
    <tr>
      <td><%= link_to mix.title, mix %></td>
      <td><%= mix.artist %></td>
      <td class="comments"><%= mix.total_comments %></td>
      <td class="users"><%= mix.users.count %></td>
      <td><%= mix.admin %></td>
      <td>
        <% if current_user.email == mix.admin %>
          <%= link_to "Delete", mix, :method => :delete, :confirm => "Are you sure you want to delete this mix?", :class => "edit-mix" %>
        <% else %>
          <%= link_to "Leave", mix.permissions.find_by_user(current_user), :method => :delete, :confirm => "Are you sure you want to leave this mix?", :class => "edit-mix" %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

</div>