<div class="span2">

<a href="#new-mix-modal" data-toggle="modal">Upload a mix</a>

<!-- New Mix Modal -->
<div id="new-mix-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="new-mix-modal-label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 id="new-mix-modal-label">Upload a mix</h3>
  </div>
  <%= form_for @mix, :html => {:class => "form-horizontal"} do |f| %>
    <div class="modal-body">
      <div class="control-group">
        <%= f.label :title, :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :title, :placeholder => "Title" %>
        </div>
      </div>
      <div class="control-group">
        <%= f.label :artist, :class => "control-label" %>
        <div class="controls">
          <%= f.text_field :artist, :placeholder => "Artist" %>
        </div>
      </div>
      <%= f.hidden_field :owner, :value => current_user.email %>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <%= f.submit "Submit", :class => "btn btn-primary" %>
    </div>
  <% end %>
</div>

</div>
<div class="span8">

<!-- Mixes Table -->
<table id="mixes-table" class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Artist</th>
      <th>Owner</th>
      <th>Collaborators</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @mixes.each do |mix| %>
    <tr>
      <td><%= link_to mix.title, mix %></td>
      <td><%= mix.artist %></td>
      <td><%= mix.owner %></td>
      <td><%= mix.users.count - 1 %></td>
      <td>
        <% if current_user.email == mix.owner %>
          <%= link_to "Delete", mix, :method => :delete, :confirm => "Are you sure?" %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

</div>