<div class="span2">

<p><strong>Admin:</strong></p>
<p id="admin"><%= @mix.admin %></p>
<p><strong>Users:</strong></p>
<ul id="user-list">
  <% @mix.users.each do |user| %>
    <% unless user.email == @mix.admin %>
      <li><%= user.email %></li>
    <% end %>
  <% end %>
</ul>

<% if current_user.email == @mix.admin %>
  <a href="#add-user-modal" data-toggle="modal">Add a user</a>

  <!-- Add User Modal -->
  <div id="add-user-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="add-user-modal-label" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3 id="add-user-modal-label">Add a user</h3>
    </div>
    <%= form_for @permission, :html => {:class => "form-horizontal"} do |f| %>
      <div class="modal-body">
        <div class="control-group">
          <%= label_tag :email, "Email", :class => "control-label" %>
          <div class="controls">
            <%= text_field_tag :email, nil, :placeholder => "Email" %>
          </div>
        </div>
        <%= f.hidden_field :mix_id, :value => @mix.id %>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <%= f.submit "Submit", :class => "btn btn-primary" %>
      </div>
    <% end %>
  </div>
<% end %>

</div>
<div class="span8">

<!-- jPlayer -->
<div id="jquery_jplayer_1" class="jp-jplayer" data-url="<%= @mix.audio.url %>"></div>
<div id="jp_container_1" class="jp-audio">
  <div class="jp-type-single">
    <div class="jp-gui jp-interface">
      <ul class="jp-controls">
        <li><a href="javascript:;" class="jp-play" tabindex="1">play</a></li>
        <li><a href="javascript:;" class="jp-pause" tabindex="1">pause</a></li>
        <li><a href="javascript:;" class="jp-stop" tabindex="1">stop</a></li>
        <li><a href="javascript:;" class="jp-mute" tabindex="1" title="mute">mute</a></li>
        <li><a href="javascript:;" class="jp-unmute" tabindex="1" title="unmute">unmute</a></li>
        <li><a href="javascript:;" class="jp-volume-max" tabindex="1" title="max volume">max volume</a></li>
      </ul>
      <div class="jp-progress">
        <div class="jp-seek-bar">
          <div class="jp-play-bar"></div>
        </div>
      </div>
      <div class="jp-volume-bar">
        <div class="jp-volume-bar-value"></div>
      </div>
      <div class="jp-time-holder">
        <div class="jp-current-time"></div>
        <div class="jp-duration"></div>
        <ul class="jp-toggles">
          <li><a href="javascript:;" class="jp-repeat" tabindex="1" title="repeat">repeat</a></li>
          <li><a href="javascript:;" class="jp-repeat-off" tabindex="1" title="repeat off">repeat off</a></li>
        </ul>
      </div>
    </div>
    <div class="jp-title">
      <ul>
        <li><%= @mix.title %></li>
      </ul>
    </div>
    <div class="jp-no-solution">
      <span>Update Required</span>
      To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
    </div>
  </div>
</div>

<p id="instructions" class="muted">
  <em>Just pause the song at any point, and add a comment below.</em>
</p>

<!-- Comments Table -->
<table id="comments-table" class="table table-hover">
  <thead>
    <tr>
      <th id="time-heading">Time</th>
      <th>Comment</th>
      <th id="replies-heading">Replies</th>
      <th id="user-heading">User</th>
    </tr>
  </thead>
  <tbody>
    <% @mix.comments.each do |comment| %>
      <tr class="comment-row">
        <td class="time" data-time="<%= comment.time %>">
          <%= comment.convert_time %>
        </td>
        <td><%= comment.content %></td>
        <td class="replies"><%= comment.replies.count %></td>
        <td><%= comment.user.email %></td>
      </tr>
      <% comment.replies.each do |reply| %>
        <tr class="reply-row">
          <td class="arrow">---></td>
          <td colspan="2"><%= reply.content %></td>
          <td><%= reply.user.email %></td>
        </tr>
      <% end %>
      <tr class="reply-row">
        <td colspan="4">
          <%= form_for [@mix, comment, @reply], :html => {:class => "form-inline"} do |f| %>
            <%= f.text_field :content, :placeholder => "Reply to a comment..." %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
            <%= f.submit "Submit", :class => "btn btn-primary" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= form_for [@mix, @comment], :html => {:class => "form-inline"} do |f| %>
  <%= f.hidden_field :time %>
  <%= f.text_field :content, :placeholder => "Add a comment..." %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <%= f.submit "Submit", :class => "btn btn-primary" %>
<% end %>

</div>