<div class="span8 offset2">

<table id="activity-table" class="table">
  <thead>
    <tr>
      <th id="date-heading">Date</th>
      <th>Activity</th>
      <th id="activity-user-heading">User</th>
    </tr>
  </thead>
  <tbody>
    <% @models.each do |model|
      notification = Notification.find_by_model_and_user(model, current_user)
      id = notification.nil? ? nil : notification.id %>
      <tr <%= "data-id=#{id}" unless id.nil? %>>
        <td class="date"><%= model.format_timestamp %></td>
        <% if model.is_a?(Permission) && model.user.email == model.mix.admin %>
          <td>Uploaded <%= link_to "\"#{model.mix.title}\"", model.mix %></td>
        <% elsif model.is_a?(Permission) && model.user.email != model.mix.admin %>
          <td>Joined <%= link_to "\"#{model.mix.title}\"", model.mix %></td>
        <% elsif model.is_a?(Comment) %>
          <td>Posted "<%= model.content %>" in
            <%= link_to "\"#{model.mix.title}\"", model.mix %>
          </td>
        <% elsif model.is_a?(Reply) %>
          <td>Posted "<%= model.content %>" in
            <%= link_to "\"#{model.comment.mix.title}\"", model.comment.mix %>
          </td>
        <% end %>
        <td><%= model.user.email %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>