<!DOCTYPE html>
<html lang="en">
<head>
  <title>MixNotes</title>
  <meta charset="UTF-8" />
  <meta name="description" content="A platform for sharing mix notes." />
  <meta http-equiv="author" content="Jack Whitis" />
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if user_signed_in? %>
  <header>
    <div class="inner">
      <h1><%= link_to "MixNotes", root_path, :id => "brand" %></h1>
      <nav>
        <ul class="nav">
          <li><%= link_to "Mixes", :root %></li>
          <li><%= link_to "Activity", user_path %></li>
          <li class="pull-right">
            <%= link_to "Sign Out", destroy_user_session_path, :method => :delete, :id => "sign-out" %>
          </li>
          <li id="username" class="pull-right"><%= current_user.email %></li>
        </ul>
      </nav>
    </div>
  </header>
<% else %>
  <h1 id="logo">MixNotes</h1>
<% end %>

<div class="container">
  <% unless notice.blank? %>
    <p class="devise-alert text-info"><%= notice %></p>
  <% end %>
  <% unless alert.blank? %>
    <p class="devise-alert text-error"><%= alert %></p>
  <% end %>
  <div class="row">
    <%= yield %>
  </div>
</div>

<% if user_signed_in? %>
  <footer>
    <div class="inner">
      <p id="credit">Copyright 2013 Jack Whitis</p>
    </div>
  </footer>
<% end %>

</body>
</html>